/* SYNTAX TEST "Packages/better-css/Syntaxes/Better CSS.tmLanguage" */

.visibility {
    visibility: auto;
/*^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^ meta.property-value.css */
/*              ^^^^ support.constant.property-value.css */
/*                  ^ punctuation.terminator.rule.css */
    visibility: hidden;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^ meta.property-value.css */
/*              ^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    visibility: visible;
/*^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^^ meta.property-value.css */
/*              ^^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
    visibility: collapse;
/*^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^^^ meta.property-value.css */
/*              ^^^^^^^^ support.constant.property-value.css */
/*                      ^ punctuation.terminator.rule.css */
    visibility: inherit;
/*^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^^ meta.property-value.css */
/*              ^^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
    visibility: initial;
/*^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^^ meta.property-value.css */
/*              ^^^^^^^ support.constant.property-value.css */
/*                     ^ punctuation.terminator.rule.css */
    visibility: revert;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^ meta.property-value.css */
/*              ^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    visibility: revert-layer;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^^^^^^^^ meta.property-value.css */
/*              ^^^^^^^^^^^^ support.constant.property-value.css */
/*                          ^ punctuation.terminator.rule.css */
    visibility: unset;
/*^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*            ^ punctuation.separator.key-value.css */
/*             ^^^^^^ meta.property-value.css */
/*              ^^^^^ support.constant.property-value.css */
/*                   ^ punctuation.terminator.rule.css */
}

.content-visibility {
    content-visibility: auto;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^ meta.property-value.css */
/*                      ^^^^ support.constant.property-value.css */
/*                          ^ punctuation.terminator.rule.css */
    content-visibility: hidden;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^^ meta.property-value.css */
/*                      ^^^^^^ support.constant.property-value.css */
/*                            ^ punctuation.terminator.rule.css */
    content-visibility: visible;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^^^ meta.property-value.css */
/*                      ^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
    content-visibility: inherit;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^^^ meta.property-value.css */
/*                      ^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
    content-visibility: initial;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^^^ meta.property-value.css */
/*                      ^^^^^^^ support.constant.property-value.css */
/*                             ^ punctuation.terminator.rule.css */
    content-visibility: revert;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^^ meta.property-value.css */
/*                      ^^^^^^ support.constant.property-value.css */
/*                            ^ punctuation.terminator.rule.css */
    content-visibility: revert-layer;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^^^^^^^^ meta.property-value.css */
/*                      ^^^^^^^^^^^^ support.constant.property-value.css */
/*                                  ^ punctuation.terminator.rule.css */
    content-visibility: unset;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*                    ^ punctuation.separator.key-value.css */
/*                     ^^^^^^ meta.property-value.css */
/*                      ^^^^^ support.constant.property-value.css */
/*                           ^ punctuation.terminator.rule.css */
}
