/* SYNTAX TEST "Packages/better-css/Syntaxes/Better CSS.tmLanguage" */

  @counter-style counter-style {
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^^^^^^^^ variable.parameter.style-name.css */
/*                             ^ punctuation.definition.block.begin.css */
  }
/*^ meta.at-rule.counter-style.css */
/*^ punctuation.definition.block.end.css */

  @counter-style disclosure-closed-asdf {}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^^^^^^^^^^^^^^^^^ variable.parameter.style-name.css */
/*                                      ^ punctuation.definition.block.begin.css */
/*                                       ^ punctuation.definition.block.end.css */


  @counter-style disclosure-closed {}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^^^^^^^^^^^^ invalid.illegal.counter-style-name.css */
/*                                 ^ punctuation.definition.block.begin.css */
/*                                  ^ punctuation.definition.block.end.css */
  @counter-style disclosure-open {}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^^^^^^^^^^ invalid.illegal.counter-style-name.css */
/*                               ^ punctuation.definition.block.begin.css */
/*                                ^ punctuation.definition.block.end.css */
  @counter-style disc {}
/*^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^ invalid.illegal.counter-style-name.css */
/*                    ^ punctuation.definition.block.begin.css */
/*                     ^ punctuation.definition.block.end.css */
  @counter-style decimal {}
/*^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^^ invalid.illegal.counter-style-name.css */
/*                       ^ punctuation.definition.block.begin.css */
/*                        ^ punctuation.definition.block.end.css */
  @counter-style square {}
/*^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^ invalid.illegal.counter-style-name.css */
/*                      ^ punctuation.definition.block.begin.css */
/*                       ^ punctuation.definition.block.end.css */
  @counter-style circle {}
/*^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*^^^^^^^^^^^^^^ keyword.control.at-rule.counter-style.css */
/*^ punctuation.definition.keyword.css */
/*               ^^^^^^ invalid.illegal.counter-style-name.css */
/*                      ^ punctuation.definition.block.begin.css */
/*                       ^ punctuation.definition.block.end.css */

@counter-style system-test {
    system: cyclic;
/*^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^ meta.property-value.css */
/*          ^^^^^^ support.constant.property-value.css */
/*                ^ punctuation.terminator.rule.css */

    system: numeric;
/*^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^ support.constant.property-value.css */
/*                 ^ punctuation.terminator.rule.css */

    system: alphabetic;
/*^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */

    system: symbolic;
/*^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^^ support.constant.property-value.css */
/*                  ^ punctuation.terminator.rule.css */

    system: additive;
/*^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^^ support.constant.property-value.css */
/*                  ^ punctuation.terminator.rule.css */

    system: fixed;
/*^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^ meta.property-value.css */
/*          ^^^^^ support.constant.property-value.css */
/*               ^ punctuation.terminator.rule.css */

    system: fixed 4;
/*^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^ meta.property-value.css */
/*          ^^^^^ support.constant.property-value.css */
/*                ^ constant.numeric.css */
/*                 ^ punctuation.terminator.rule.css */

    system: extends decimal;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.counter-style.css */
/*  ^^^^^^ support.type.property-name.css */
/*        ^ punctuation.separator.key-value.css */
/*         ^^^^^^^^^^^^^^^^ meta.property-value.css */
/*          ^^^^^^^ support.constant.property-value.css */
/*                  ^^^^^^^ variable.parameter.style-name.css */
/*                         ^ punctuation.terminator.rule.css */

  }
/*^ meta.at-rule.counter-style.css */
/*^ punctuation.definition.block.end.css */
