/* SYNTAX TEST "Packages/better-css/Syntaxes/Better CSS.tmLanguage" */

.clip-rule {
    clip-rule: nonzero;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^^^ meta.property-value.css */
/*             ^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    clip-rule: evenodd;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^^^ meta.property-value.css */
/*             ^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    clip-rule: inherit;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^^^ meta.property-value.css */
/*             ^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    clip-rule: initial;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^^^ meta.property-value.css */
/*             ^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    clip-rule: revert;
/*^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^^ meta.property-value.css */
/*             ^^^^^^ support.constant.property-value.css */
/*                   ^ punctuation.terminator.rule.css */
    clip-rule: revert-layer;
/*^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^^^^^^^^ meta.property-value.css */
/*             ^^^^^^^^^^^^ support.constant.property-value.css */
/*                         ^ punctuation.terminator.rule.css */
    clip-rule: unset;
/*^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^^^^^^ meta.property-name.css support.type.property-name.css */
/*           ^ punctuation.separator.key-value.css */
/*            ^^^^^^ meta.property-value.css */
/*             ^^^^^ support.constant.property-value.css */
/*                  ^ punctuation.terminator.rule.css */
}

.clip {
    clip: auto;
/*^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^ meta.property-value.css */
/*        ^^^^ support.constant.property-value.css */
/*            ^ punctuation.terminator.rule.css */
    clip: rect(1px, 10em, 3rem, 2ch);
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-value.css */
/*        ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.rect.css invalid.deprecated.css */
/*        ^^^^ support.function.rect.css */
/*            ^ punctuation.definition.group.begin.css */
/*             ^^^^^^^^^^^^^^^^^^^^ meta.function-call.arguments.css meta.group.css */
/*             ^^^ meta.number.integer.decimal.css */
/*             ^ constant.numeric.css */
/*              ^^ keyword.other.unit.length.px.css */
/*                ^ punctuation.separator.css */
/*                  ^^^^ meta.number.integer.decimal.css */
/*                  ^^ constant.numeric.css */
/*                    ^^ keyword.other.unit.length.em.css */
/*                      ^ punctuation.separator.css */
/*                        ^^^^ meta.number.integer.decimal.css */
/*                        ^ constant.numeric.css */
/*                         ^^^ keyword.other.unit.length.rem.css */
/*                            ^ punctuation.separator.css */
/*                              ^^^ meta.number.integer.decimal.css */
/*                              ^ constant.numeric.css */
/*                               ^^ keyword.other.unit.length.ch.css */
/*                                 ^ punctuation.definition.group.end.css */
/*                                  ^ punctuation.terminator.rule.css */
    clip: inherit;
/*^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^^^^ meta.property-value.css */
/*        ^^^^^^^ support.constant.property-value.css */
/*               ^ punctuation.terminator.rule.css */
    clip: initial;
/*^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^^^^ meta.property-value.css */
/*        ^^^^^^^ support.constant.property-value.css */
/*               ^ punctuation.terminator.rule.css */
    clip: revert;
/*^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^^^ meta.property-value.css */
/*        ^^^^^^ support.constant.property-value.css */
/*              ^ punctuation.terminator.rule.css */
    clip: revert-layer;
/*^^^^^^^^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^^^^^^^^^ meta.property-value.css */
/*        ^^^^^^^^^^^^ support.constant.property-value.css */
/*                    ^ punctuation.terminator.rule.css */
    clip: unset;
/*^^^^^^^^^^^^^^ meta.property-list.css meta.block.css */
/*  ^^^^ meta.property-name.css support.type.property-name.css invalid.deprecated.css */
/*      ^ punctuation.separator.key-value.css */
/*       ^^^^^^ meta.property-value.css */
/*        ^^^^^ support.constant.property-value.css */
/*             ^ punctuation.terminator.rule.css */
}